body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    box-sizing: border-box;
    
    background-color: #EAEAEA;
}

header {
    display: flex;
    align-items: center;
    height: 100px;
    padding-top: 1rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    
}

.logo {
    padding-left: 200px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    width: 40vw;
    padding-left: 10%;
    padding-right: 0;
    margin-bottom: 0;
    padding-top: 3rem;
    font-size: 1.2rem;
}

.date {
    font-weight: bold;
    padding-top: 3rem;
    margin-left: 130px;
    color: rgb(69, 69, 69);
}

main {
    display: grid;
    grid-template-columns:1fr 900px 1fr;
    margin-left: 1rem;
    margin-right: 1rem;
}

.left-div, .right-div {
}

.left-div {
    border-right: none;
}

.right-div {
    border-left: none;
}

.main {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(69, 69, 69);
    padding-bottom: 1rem;
    padding-top: 0.2rem;
}

.main-content-container {
    border: 1px solid black;
    height: 400px;
    width: 900px;
    display: grid;
    grid-template-columns: 30px 70px 1fr 60px 1fr 30px;
    grid-template-rows: 30px 1fr 1fr 1fr 1fr 1fr 30px;
    
}

.status {
    font-style: italic;
}


.column {
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Helvetica', sans-serif;
    background-color: rgb(195, 184, 203);
}

.content {
    font-family: 'Benne', serif;
    text-align: center;
    line-height: 1.8rem;
    font-size: 1.4rem;
    color: black;
}

a {
    color: black;
    
    
}

footer a {
    border: 1px solid rgb(69, 69, 69);
    padding: 0.2rem 0.5rem;
    text-decoration: none;
}

.birch:hover {
    color: #EAEAEA;
    background-color: #CC64B5;
}

.blog:hover {
    color: #EAEAEA;
    background-color: #0CAD1C;
}

.who:hover {
    color: #EAEAEA;
    background-color: #936132;
}

.list {
    font-family: 'Helvetica', sans-serif;
    color: rgb(69, 69, 69);
}

.column text {
    padding: 30px;
}

.left {
    border-right: 1px solid black;
}

.right {
    border-left: 1px solid black;
}

.bottom {
    border-bottom: none;
}

.top, .bottom {
    background-color: rgb(233, 233, 168);
}

.left, .right {
    background-color: rgb(214, 227, 196)
}

.bottom-left, .bottom-right, .top-left, .top-right {
    background-color: rgb(200, 212, 216);
}


/* .poem {
    padding-left: 2rem;
    font-size: 1.3rem;
} */

/* c */

.c {
position: absolute;
width: 8px;
height: 21px;
left: 62px;
top: 40px;

font-family: Times New Roman;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 21px;
/* identical to box height */


color: #CC64B5;
}


.birch {
    color: #CC64B5;
}

/* l */

.l {
position: absolute;
width: 6px;
height: 21px;
left: 79px;
top: 71px;

font-family: Times New Roman;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 21px;
/* identical to box height */


color: #0CAD1C;
}

.blog {
   color: #0CAD1C;
}


/* e */

.e {
position: absolute;
width: 8px;
height: 21px;
left: 106px;
top: 81px;

font-family: Times New Roman;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 21px;
/* identical to box height */


color: #2276F5;
}

.links {
    color: #2276F5;
}


/* m */

.m {
position: absolute;
width: 15px;
height: 21px;
left: 130px;
top: 61px;

font-family: Times New Roman;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 21px;
/* identical to box height */


color: #936132;
}

.who {
    color: #936132;
}

.links-container a {
    display: block;
    color: rgb(69, 69, 69);
    margin-top: 4px;
    
  }
  
  .links-container a:after {
    color: rgb(69, 69, 69);
  }
  
  
  .links-container {
    padding-left: 1rem;
    border: 1px solid rgb(119, 135, 131);
    margin-bottom: 50px;
  }

  .sf-logo {
      width: 50px;
  }

  footer {
      width: 900px;
      padding-left: 270px;
      padding-right: 320px;
      display: flex;
      justify-content: space-evenly;
      padding-bottom: 50px;
      font-size: 1.2rem;
  }

/* img {
    width: 425px;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

a {
    text-decoration: none;
    color: green;
    margin: 0;
}

a:hover {
    color:rgb(250, 248, 244);
    background-color: green;
}

#who {
    padding-bottom: 0.1rem;
}


.container {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 60% 1fr;
    padding: 2rem;
    /* border: 1px solid green; */
    /* width: 80vw;
    height: 80vh;
}

.nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr);
    border: 1px solid green;
    border-bottom: none;
    margin: 0;
}

nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr);
    margin: 0;
    border-bottom: 1px solid green;
}

nav > * {
    border-top: 1px solid green;
    padding-left: 1rem;
    display: flex;
    align-items: center;
}

.name {
    font-family: 'Times New Roman', Times, serif;
    border: none;
    display: flex;
    padding-left: 1rem;
    align-items: center;
}

.image {
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Courier, monospace;
}

.this {
    font-family: Courier, monospace;
    border: 1px solid green;
    grid-column: span 2;
    padding: 1rem;
    padding-bottom: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.c {
    color: royalblue;
}

.l {
    color: rosybrown;
}

.e {
    color: rgb(186, 166, 186);
}

.m {
    color: palegoldenrod;
}

.apos {
    color: lightgrey;
}

.s {
    color: rgb(227, 108, 108);
}




.blue-list {
    background-image: url(./assets/blur.png);
    background-position-x: center;
    background-position-y: 15%;
}





















@media (max-width: 535px) {

    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0px 1fr;
    }

    nav {
      line-height:1.5rem;
    }

    .nav {
      padding-top: 120px;
      font-size: .9rem;
     

    }


} */ 