body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 248, 244);
    color: green;
    font-family: Helvetica, sans-serif;
}

img {
    width: 425px;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

a {
    text-decoration: none;
    color: green;
    margin: 0;
}

a:hover {
    color:rgb(250, 248, 244);
    background-color: green;
}

#who {
    padding-bottom: 0.1rem;
}


.container {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 60% 1fr;
    padding: 2rem;
    /* border: 1px solid green; */
    width: 80vw;
    height: 80vh;
}

.nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr);
    border: 1px solid green;
    border-bottom: none;
    margin: 0;
}

nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr);
    margin: 0;
    border-bottom: 1px solid green;
}

nav > * {
    border-top: 1px solid green;
    padding-left: 1rem;
    display: flex;
    align-items: center;
}

.name {
    font-family: 'Times New Roman', Times, serif;
    border: none;
    display: flex;
    padding-left: 1rem;
    align-items: center;
}

.image {
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Courier, monospace;
}

.this {
    font-family: Courier, monospace;
    border: 1px solid green;
    grid-column: span 2;
    padding: 1rem;
    padding-bottom: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.c {
    color: royalblue;
}

.l {
    color: rosybrown;
}

.e {
    color: rgb(186, 166, 186);
}

.m {
    color: palegoldenrod;
}

.apos {
    color: lightgrey;
}

.s {
    color: rgb(227, 108, 108);
}




.blue-list {
    background-image: url(./assets/blur.png);
    background-position-x: center;
    background-position-y: 15%;
}





















@media (max-width: 535px) {

    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0px 1fr;
    }

    nav {
      line-height:1.5rem;
    }

    .nav {
      padding-top: 120px;
      font-size: .9rem;
     

    }


}