body {
  margin: 0;
  box-sizing: border-box;
  width: 100vw;
  background-color: rgb(164, 164, 164);
}

a {
  display: block;
  color: blue;
  margin-top: 4px;
}

a:after {
  color: blue;
}


.container {
  padding-left: 1rem;
}