body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
<<<<<<< HEAD
  background-color:rosybrown;
  width: 100vw;
}

header {
  /* padding: 1rem; */
  padding-left: 220px;
  padding-bottom: 4rem;
}


.header-name h1 {
  font-weight: normal;
  font-size: 2.4rem;
  font-family: 'Times New Roman', Times, serif;
  color:floralwhite;
  padding: 10px;
  margin: 0;
  width: fit-content;
}

img {
  width: 200px;
  padding: 0;
  margin: 0;
=======
  background:rgba(112,136,124,1);
}

header {
  padding: 3rem;
}

a, h1 {
  color:rgb(88, 75, 88);
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  border:rgb(88, 75, 88) 1px solid;
  padding: 0.4rem;
}

a:hover {
  background-color: rgb(88, 75, 88);
  color:rgba(112,136,124,1);
}

h1 {
  font-weight: normal;
  font-size: 4rem;
  text-align: center;
>>>>>>> eeeb03ebf126422332be4679636da7ad66171706
}

main {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-bottom: 5rem;
}

.images {
<<<<<<< HEAD
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.post {
  /* width: 200px; */
  margin: 0;
  border: 1px solid black;
  background-color: floralwhite;
}

.post-head {
border-bottom: 1px solid black;
display: flex;
justify-content: space-between;
margin: 0;
padding: .5rem;
}

.post-caption {
  border-top: 1px solid black;
  margin: 0;
  padding: .5rem;
}

.post-head, .post-caption {
  background-color: floralwhite;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.date {
  color: gray;
}

=======
  display: grid;
  grid-template-columns: 1fr;
}

.image {
  border: 1px solid rgb(88, 75, 88);
  padding: 10px;
  margin: 10px;
  width: 50vw;
  height: 40vh;
  display: flex;
}
>>>>>>> eeeb03ebf126422332be4679636da7ad66171706
